*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-body{
    direction: rtl;
}
.carousel-item img{
height: 100vh;
}
.btn-carousel {
    width: 130px;
    height: 40px;
    background-color: beige;
}
.carousel-caption{
    background-color: rgba(0, 0, 0,.5);
    padding: 30px;
    border-radius: 10px;
}
.container-fluid img{
 width: 70px;
 height:70px;
 border-radius: 50%;
 margin-right: 30px;
}
.btn-submit{
    border: 2px solid #A27B5C ;
}
.welcome{
    background-color: #A27B5C;
    height:200px;
}
.welcome h1{
  color: beige;
  padding: 15px;
}
.welcome p,button{
    margin-left: 15px;
}
.welcome button{
    background-color: #DCD7C9;
   width: 130px;
}
.welcome button:hover{
    background-color:black;
    color: white;
}
.destination{
    background-color: #A27B5C;
    height: 100px; 
}
.translate{
    background-color:#F4EDD3;
}
.btn-copy{
    background-color:#F4EDD3;
    margin-top: 10px;
}
.copy{
    background-color: #A27B5C;
    height: 280px; 
    border-radius: 10px;
}
.btn-copy:hover{
    border: 3px solid #B7B7B7;
    color: white;
}
.accordion-flush {
    overflow: hidden;
}
.img1 {
    
   background-image: url('https://i.pinimg.com/736x/09/9f/b8/099fb84cd0fb90276439f2479c285fc5.jpg');
   width: 100%;
   height: 500px;
   position: relative;
 background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.img2{
    background-image: url('https://i.pinimg.com/736x/ed/18/ca/ed18cac2338a50f177b4ff2cd82c5136.jpg');
    width: 100%;
    height: 300px;
    position: relative;
  background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center; 
}
.img1-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.card {
    width: 20rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    position: relative;
    margin: 50px 0;
}
.container-img{
    padding: 0 30px;
}
.card-img-top {
    width: 100%;
}
.know-more-btn {
    background-color: #B7B7B7;
    border: none;
    padding: 8px 25px;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    position: absolute;
    bottom: 12%;
    right: 10%;
    width: 132px;
    
}
.btn-card2{
    bottom: 19%;
}
.btn-card3{
    bottom: 12%;
}
.card::after{
    content: "";
    width: 0;
    height: 0;
    top: 0;
   left: 0;
   background-color: #B7B7B7;
   transition: 1s;
    position: absolute;
}
.card::before{
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
   right: 0;
   background-color: #B7B7B7;
   transition: 1s;
    position: absolute;
}
.card:hover::before{
    width: 100%;
    height: 100%;
    opacity: .4;
}
.card:hover::after{
    width: 100%;
    height: 100%;
    opacity: .4;
}
.des2{
        background-color:#F8F5E9;
}
 .thanks{
    background: linear-gradient(to bottom,#A27B5C,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 48px;
}
.join {
      margin-top: 10px;
}
.item-join,.thanks-item{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.thanks-item,.item2,.item3{
width: 30%;
height: 450px;
background-image: url('../images/team\ img\ 2.avif');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.item2{
    background-image: url('../images/img\ 3\ new.jpg');
}
.item3{
    background-image:url('../images/team\ img\ 3.jpg');
}
.thanks-overlay:hover .overlay-content{
    transform: scale(.9);
}
.thanks-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    transition: 2s;
}
.footer {
    background-color: #A27B5C;
    padding: 20px 0;
    color: white;
    position: relative;
}

.footer-content {
    width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 0 20px;
    position: relative;
}
.footer-section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
    
}
.footer-logo img{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 15px;
}
.footer-section p {
    margin: 5px 0;
    font-size: 16px;
}
.footer-section p:hover{
    color:bisque;
}
.copyright {
    text-align: center;
    padding: 20px 0;
 
    font-size: 15px;
 
    position: relative;
} 
.horizontal-line {
    display: flex;
    width: 100% ;
    margin: 5px 0;
}

.horizontal-line::before,
.horizontal-line::after {
    content: "";
    flex: 1;
    border-top: 2px solid white;
    margin: 0 10px;
}
.line-segment {
    width: 400px; 
    border-top: 2px solid white;
}
.dropdown-toggle:hover span{
    color: #D98324;
}
.dropdown-toggle{
    border: 2px solid #A27B5C;
    padding: 6px; 
    border-radius: 5px;
    height: 50px; 
    width: 70px;  
}
  .social-sidebar {
    position: fixed;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  .social-sidebar a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px 0;
   background-color: #B7B7B7;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
    opacity: .6;
  }
  .social-sidebar a:hover {
    color: white;
    opacity: 1;
  }
  .podcast-card:hover .line{
    width: 100px !important;
  } 
  .podcast-card:hover .img2{
    transform: scale(1.01);
  }




































